<!--Student Name: Abhi Patel, Student num: 301167516, File name : login.ejs, Date: 02/28/2021-->
<!--Created view for login page so that user can get access login page-->
<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ../Partials/header.ejs %>

</head>
<body>

<%- include ../Partials/main_nav.ejs %>

<main class="container">
    <!-- Message Area -->
    <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>

    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1>Please Login</h1>
            <form method="POST" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control"
                    name="username" placeholder="Enter username"
                    id="username" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control"
                    name="password" placeholder="Enter password"
                    id="password" required>
                    or
                    <a href="/register">Register Here</a>
                </fieldset>

                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Login">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>

            </form>
        </div>
    </div>

</main>

<%- include ../Partials/bottom_nav.ejs %>  

<%- include ../Partials/footer.ejs %>
<!--Added style to manage size of logo-->
<style>
.logo {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    height: 40px;
    margin-right: 7px;
}
@media(min-width:1200px){
main.container { height: calc(100vh - 125px); }
}
</style>
</body>
</html>